/* HEADER */
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container{
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow: hidden;
}
/* NAVBAR */
.navbar{
    background-color: #DADADA;
    display: flex;
    align-items: center;
    width: 100%;
    max-height: 80px;
    padding-left: 5%;
    padding-right: 5%;
}
#logo{
    width:80px;
    /* margin-right: 150px; */
    /* padding-right: 100px; */
    /* margin-left: 30px; */
    cursor: pointer;
    margin: 30px 0;
}
#menu{
    width: 25px;
    cursor: pointer;
    display: none;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li img{
    width: 15px;
}
nav>ul>li>ul{
    /* width: 100%; */
    list-style: none;
    position: absolute;
    display: none;
    /* line-height: 40px;
    margin-left: -50px; */
    text-align: center;
}
nav ul li a:hover{
    color: #E1701A;
    transform: matrix();
}
nav ul li ul li{
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 40px;
    margin: 0;
    padding: 0;
}
nav>ul>li:hover>ul{
    background-color: #f7a5409c;
    /* margin-left: -50px; */
    color: black;
    display: block;
    padding: 20px;
    box-shadow: 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    /* background-color: #AAAAAA; */
}
nav>ul>li>ul>li>a:hover{
    color: white;
    font-weight: bolder;
    /* background-color: #DADADA; */
}

@media only screen and (max-width:700px) {
    nav ul{
        width: 100%;
        position: absolute;
        top: 56px;
        right: 0;
        z-index: 2;
        background: #AAAAAA;
        line-height: 30px;
        margin-top: 20px;
        /* color: white; */
        /* font-weight: bolder; */
    }
    nav>ul>li:hover>ul{
        display: none;
    }
    nav>ul>li>ul>li>a:hover{
        display: none;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #menu{
        display: block;
    }
    #navbarList{
        overflow: hidden;
    }
    nav ul li a:hover{
        color: white;
        font-weight: bolder;
    }
}

/* CONTENT */
.content{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 40px;
    margin-top: 40px;
    display: flex;
    float: left;
    width: 90%;
    font-family: sans-serif;
}
.prod{
    float: left;
    width: 90%;
    text-align: left;
    display: flex;
}
.foto img{
    width: 450px;
}
.detail{
    /* position: relative; */
    /* display: flex; */
    margin-top: 30px;
    width: 90%;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 16px;
}
.nama{
    color: #E1701A;
    margin-bottom: 15px;    
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}
.harga{
    /* color: #E1701A; */
    margin-top: 20px;
    margin-bottom: 15px;    
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    line-height: 40px;
}
.qty{
    margin-top: 15px;
    margin-bottom: 10px;
}
.qty select{
    width: 80px;
    text-align: center;
    margin-left: 15px;
    border: solid 2px;
    border-color: #E1701A;
    border-radius: 8px;
    padding: 5px;
}
.qty select option:checked{
    font-weight: bold;
    color: #E1701A;
}
.size{
    /* margin-top: 5px; */
    margin-bottom: 20px;
    overflow: hidden;
}
.size form{
    margin-top: 10px;
}
.size input {
    position: absolute;
    height: 1px;
    width: 1px;
    border: none;
    overflow: hidden;
}
.size label {
    display: inline-block;
    width: 60px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 6px 14px;
    border: solid 2px ;
    border-radius: 3px;
    border-color: #E1701A;
    margin-bottom: 5px;
}
.size label:hover {
    cursor: pointer;
}
.size input:checked + label {
    background-color: #E1701A;
    color: white;
    box-shadow: none;
    border-color: #E1701A;
    }
.add{
    align-items: center;
    text-align: center;
    align-content: center;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
}

/* FORM */
.checkout{
    background-color: #E1701A;
    padding: 20px;
    /* font-weight: bold; */
    justify-content: center;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    float: right;
    margin-left: 5px;
    /* margin-right: 5%; */
    /* margin-top: 50px; */
    width: 300px;
    height: 100%;
}
.total{
    border: solid 5px;
    border-color: #F7A440;
    margin-bottom: 10px;
    padding: 3px;
}
.promo{
    border: solid 5px;
    border-color: #F7A440;
    margin-bottom: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
}
.totalprice{
    border: solid 5px;
    border-color: #F7A440;
    margin-bottom: 10px;
    padding: 10px;
    text-align: justify;
    justify-content: space-between;
    line-height: 25px;
    font-size: 17px;
}
.form{
    border: solid 5px;
    border-color: #F7A440;
    padding: 13px;
    font-weight: bold;
}
.form-group{
    margin-top: 7px;
    justify-content: center;
    text-align: left;
    font-size: 13px;
}
.form-control{
    background-color: #C4C4C4;
    border-style: none;
    color: black;
    border-radius: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    margin-top: 2px;
    width: 100%;
}
button{
    border-radius: 8px;
    background-color: #F7A440;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    margin-top: 7px;
}
button:hover{
    background-color: black;
    transition: 0.5s;
    cursor: pointer;
}

@media only screen and (max-width: 1160px) {
    .content{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
    .prod{
        float: left;
        width: 90%;
        height: auto;
    }
    .foto img{
        height: 400px;
        width: auto;
    }
    .detail{
        font-size: 14px;
        /* width: 400px; */
        width: 89%;
        margin-top: 10px;
    }
    .nama{
        font-size: 18px;
        /* margin-top: 10px; */
        margin-bottom: 8px;
    }
    .harga{
        font-size: 18px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .qty{
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .size{
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .add{
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .checkout{
        float: right;
        margin-left: 5px;
        width: 35%;
        font-size: 14px;
    }
    .totalprice{
        font-size: 14px;
    }
    .form-group{
        font-size: 12px;
    }
    .form-control{
        font-size: 12px;
    }
    button{
        font-size: 11px;
    }
}

@media only screen and (max-width: 1030px) {
    .content{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
    .prod{
        float: left;
        width: 90%;
        height: auto;
    }
    .foto img{
        height: 360px;
        width: auto;
    }
    .detail{
        font-size: 14px;
        /* width: 400px; */
        width: 90%;
        margin-top: 6px;
    }
    .nama{
        font-size: 16px;
        /* margin-top: 10px; */
        margin-bottom: 6px;
    }
    .harga{
        font-size: 16px;
        margin-top: 6px;
        margin-bottom: 6px;
    }
    .qty{
        margin-top: 6px;
        margin-bottom: 8px;
    }
    .qty select option{
        font-size: 14px;
    }
    .size{
        margin-top: 6px;
        margin-bottom: 6px;
    }
    .size label{
        width: 60px;
        font-size: 14px;
    }
    .add{
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .checkout{
        float: right;
        margin-left: 5px;
        width: 35%;
        font-size: 14px;
    }
    .totalprice{
        font-size: 14px;
    }
    .form-group{
        font-size: 12px;
    }
    .form-control{
        font-size: 12px;
    }
    button{
        font-size: 11px;
    }
}

@media only screen and (max-width: 968px) {
    .content{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
    .prod{
        float: left;
        width: 90%;
        height: auto;
    }
    .foto img{
        height: 320px;
        width: auto;
    }
    .detail{
        font-size: 13px;
        /* width: 400px; */
        width: 90%;
        margin-top: 6px;
    }
    .nama{
        font-size: 15px;
        /* margin-top: 10px; */
        margin-bottom: 6px;
    }
    .harga{
        font-size: 15px;
        margin-top: 6px;
        margin-bottom: 6px;
    }
    .qty{
        margin-top: 6px;
        margin-bottom: 8px;
    }
    .qty select option{
        font-size: 13px;
    }
    .size{
        margin-top: 6px;
        margin-bottom: 6px;
    }
    .size label{
        width: 55px;
        font-size: 13px;
    }
    .add{
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .checkout{
        float: right;
        margin-left: 5px;
        width: 35%;
        font-size: 14px;
    }
    .totalprice{
        font-size: 14px;
    }
    .form-group{
        font-size: 12px;
    }
    .form-control{
        font-size: 12px;
    }
    button{
        font-size: 11px;
    }
}

@media only screen and (max-width: 885px) {
    .content{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
    .prod{
        float: left;
        width: 90%;
        height: auto;
    }
    .foto img{
        height: 280px;
        width: auto;
    }
    .detail{
        font-size: 12px;
        /* width: 400px; */
        width: 90%;
        margin-top: 5px;
    }
    .nama{
        font-size: 14px;
        /* margin-top: 10px; */
        margin-bottom: 4px;
    }
    .harga{
        font-size: 14px;
        margin-top: 4px;
        margin-bottom: 4px;
    }
    .qty{
        margin-top: 4px;
        margin-bottom: 6px;
    }
    .qty select{
        width: 60px;
        margin-left: 10px;
    }
    .qty select option{
        font-size: 12px;
    }
    .size{
        margin-top: 4px;
        margin-bottom: 6px;
    }
    .size label{
        width: 45px;
        font-size: 12px;
    }
    .add{
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .checkout{
        float: right;
        margin-left: 5px;
        width: 35%;
        font-size: 14px;
    }
    .totalprice{
        font-size: 14px;
    }
    .form-group{
        font-size: 12px;
    }
    .form-control{
        font-size: 12px;
    }
    button{
        font-size: 11px;
    }
}

@media only screen and (max-width: 832px) {
    .content{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
    .prod{
        float: left;
        width: 90%;
        height: auto;
    }
    .foto img{
        height: 250px;
        width: auto;
    }
    .detail{
        font-size: 12px;
        /* width: 400px; */
        width: 90%;
        margin-top: 5px;
    }
    .nama{
        font-size: 14px;
        /* margin-top: 10px; */
        margin-bottom: 4px;
    }
    .harga{
        font-size: 14px;
        margin-top: 4px;
        margin-bottom: 4px;
    }
    .qty{
        margin-top: 4px;
        margin-bottom: 6px;
    }
    .qty select{
        width: 60px;
        margin-left: 10px;
    }
    /* .qty select option{
        font-size: 12px;
    } */
    .size{
        margin-top: 4px;
        margin-bottom: 6px;
    }
    .size label{
        width: 45px;
        font-size: 12px;
    }
    .add{
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .checkout{
        float: right;
        margin-left: 5px;
        width: 40%;
        font-size: 14px;
    }
    .totalprice{
        font-size: 14px;
    }
    .form-group{
        font-size: 12px;
    }
    .form-control{
        font-size: 12px;
    }
    button{
        font-size: 11px;
    }
}

@media only screen and (max-width: 758px) {
    .content{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
    .prod{
        float: left;
    }
    .prod{
        width: 80%;
        height: auto;
        display: inline-block;
    }
    .foto img{
        height: 360px;
        width: auto;
    }
    .detail{
        font-size: 14px;
        /* width: 400px; */
        width: 90%;
        margin-top: 5px;
        margin-left: 2px;
    }
    .nama{
        margin-top: 14px;
        font-size: 22px;
        margin-bottom: 6px;
    }
    .harga{
        font-size: 18px;
        margin-top: 6px;
        margin-bottom: 4px;
    }
    .qty{
        margin-top: 4px;
        margin-bottom: 6px;
    }
    .qty select{
        width: 80px;
        margin-left: 10px;
    }
    .size{
        margin-top: 4px;
        margin-bottom: 6px;
    }
    .size label{
        width: 60px;
        font-size: 15px;
    }
    .add{
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .checkout{
        float: right;
        margin-left: 5px;
        width: 50%;
        font-size: 14px;
    }
    .totalprice{
        font-size: 14px;
    }
    .form-group{
        font-size: 12px;
    }
    .form-control{
        font-size: 12px;
    }
    button{
        font-size: 11px;
    }
}

@media only screen and (max-width: 695px) {
    .content{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
    .prod{
        float: left;
    }
    .prod{
        width: 80%;
        height: auto;
        display: inline-block;
    }
    .foto img{
        height: 335px;
        width: auto;
    }
    .detail{
        font-size: 14px;
        /* width: 400px; */
        width: 90%;
        margin-top: 5px;
        margin-left: 2px;
    }
    .nama{
        margin-top: 14px;
        font-size: 22px;
        margin-bottom: 6px;
    }
    .harga{
        font-size: 18px;
        margin-top: 6px;
        margin-bottom: 4px;
    }
    .qty{
        margin-top: 4px;
        margin-bottom: 6px;
    }
    .qty select{
        width: 80px;
        margin-left: 10px;
    }
    .size{
        margin-top: 4px;
        margin-bottom: 6px;
    }
    .size label{
        width: 57px;
        font-size: 15px;
    }
    .add{
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .checkout{
        float: right;
        margin-left: 5px;
        width: 50%;
        font-size: 14px;
    }
    .totalprice{
        font-size: 14px;
    }
    .form-group{
        font-size: 12px;
    }
    .form-control{
        font-size: 12px;
    }
    button{
        font-size: 11px;
    }
}

@media only screen and (max-width: 650px) {
    .content{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        display: inline;
        text-align: center;
        align-items: center;
    }
    .prod{
        float: none;
    }
    .prod{
        width: 90%;
        height: auto;
        align-items: center;
        text-align: center;
    }
    .foto img{
        height: 500px;
        width: auto;
    }
    .detail{
        font-size: 14px;
        width: 100%;
        margin-top: 5px;
        text-align: left;
    }
    .nama{
        margin-top: 14px;
        font-size: 22px;
        margin-bottom: 6px;
    }
    .harga{
        font-size: 18px;
        margin-top: 6px;
        margin-bottom: 4px;
    }
    .qty{
        margin-top: 4px;
        margin-bottom: 6px;
    }
    .qty select{
        width: 80px;
        margin-left: 10px;
    }
    .size{
        margin-top: 4px;
        margin-bottom: 6px;
    }
    .size label{
        width: 56px;
        font-size: 15px;
    }
    .add{
        margin-top: 8px;
        margin-bottom: 8px;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .checkout{
        position: relative;
        align-items: center;
        text-align: center;
        float: none;
        width: 100%;
        font-size: 15px;
        margin-top: 25px;
    }
    .totalprice{
        font-size: 15px;
    }
    .form-group{
        font-size: 13px;
    }
    .form-control{
        font-size: 13px;
    }
    button{
        font-size: 12px;
    }
}

@media only screen and (max-width: 590px) {
    .content{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        display: inline;
        text-align: center;
        align-items: center;
    }
    .prod{
        float: none;
    }
    .prod{
        width: 90%;
        height: auto;
        align-items: center;
        text-align: center;
    }
    .foto img{
        height: 400px;
        width: auto;
    }
    .detail{
        font-size: 14px;
        width: 100%;
        margin-top: 5px;
        text-align: left;
    }
    .nama{
        margin-top: 14px;
        font-size: 22px;
        margin-bottom: 6px;
    }
    .harga{
        font-size: 18px;
        margin-top: 6px;
        margin-bottom: 4px;
    }
    .qty{
        margin-top: 4px;
        margin-bottom: 6px;
    }
    .qty select{
        width: 80px;
        margin-left: 10px;
    }
    .size{
        margin-top: 4px;
        margin-bottom: 6px;
    }
    .size label{
        width: 60px;
        font-size: 15px;
    }
    .add{
        margin-top: 8px;
        margin-bottom: 8px;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .checkout{
        position: relative;
        align-items: center;
        text-align: center;
        float: none;
        width: 100%;
        font-size: 15px;
        margin-top: 25px;
    }
    .totalprice{
        font-size: 15px;
    }
    .form-group{
        font-size: 13px;
    }
    .form-control{
        font-size: 13px;
    }
    button{
        font-size: 12px;
    }
}

@media only screen and (max-width: 500px) {
    .content{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        display: inline;
        text-align: center;
        align-items: center;
    }
    .prod{
        float: none;
    }
    .prod{
        width: 90%;
        height: auto;
        align-items: center;
        text-align: center;
    }
    .foto img{
        height: 320px;
        width: auto;
    }
    .detail{
        font-size: 14px;
        width: 100%;
        margin-top: 5px;
        text-align: left;
    }
    .nama{
        margin-top: 14px;
        font-size: 22px;
        margin-bottom: 6px;
    }
    .harga{
        font-size: 18px;
        margin-top: 6px;
        margin-bottom: 4px;
    }
    .qty{
        margin-top: 4px;
        margin-bottom: 6px;
    }
    .qty select{
        width: 80px;
        margin-left: 10px;
    }
    .size{
        margin-top: 4px;
        margin-bottom: 6px;
    }
    .size label{
        width: 60px;
        font-size: 15px;
    }
    .add{
        margin-top: 8px;
        margin-bottom: 8px;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .checkout{
        position: relative;
        align-items: center;
        text-align: center;
        float: none;
        width: 100%;
        font-size: 15px;
        margin-top: 25px;
    }
    .totalprice{
        font-size: 15px;
    }
    .form-group{
        font-size: 13px;
    }
    .form-control{
        font-size: 13px;
    }
    button{
        font-size: 12px;
    }
}

@media only screen and (max-width: 395px) {
    .content{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        display: inline;
        text-align: center;
        align-items: center;
    }
    .prod{
        float: none;
    }
    .prod{
        width: 90%;
        height: auto;
        align-items: center;
        text-align: center;
    }
    .foto img{
        height: 300px;
        width: auto;
    }
    .detail{
        font-size: 13px;
        width: 100%;
        margin-top: 5px;
        text-align: left;
    }
    .nama{
        margin-top: 14px;
        font-size: 19px;
        margin-bottom: 6px;
    }
    .harga{
        font-size: 16px;
        margin-top: 6px;
        margin-bottom: 4px;
    }
    .qty{
        margin-top: 4px;
        margin-bottom: 6px;
    }
    .qty select{
        width: 80px;
        margin-left: 10px;
    }
    .size{
        margin-top: 4px;
        margin-bottom: 6px;
    }
    .size label{
        width: 55px;
        font-size: 13px;
    }
    .add{
        margin-top: 8px;
        margin-bottom: 8px;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .checkout{
        position: relative;
        align-items: center;
        text-align: center;
        float: none;
        width: 100%;
        font-size: 15px;
        margin-top: 25px;
    }
    .totalprice{
        font-size: 15px;
    }
    .form-group{
        font-size: 13px;
    }
    .form-control{
        font-size: 13px;
    }
    button{
        font-size: 12px;
    }
}

@media only screen and (max-width: 395px) {
    .content{
        margin-left: 9%;
        margin-right: 10%;
        width: 80%;
        display: inline;
        text-align: center;
        align-items: center;
    }
    .prod{
        float: none;
    }
    .prod{
        width: 90%;
        height: auto;
        align-items: center;
        text-align: center;
    }
    .foto img{
        height: 280px;
        width: auto;
    }
    .detail{
        font-size: 13px;
        width: 100%;
        margin-top: 5px;
        text-align: left;
    }
    .nama{
        margin-top: 14px;
        font-size: 19px;
        margin-bottom: 4px;
    }
    .harga{
        font-size: 16px;
        margin-top: 4px;
        margin-bottom: 3px;
    }
    .qty{
        margin-top: 3px;
        margin-bottom: 5px;
    }
    .qty select{
        width: 80px;
        margin-left: 10px;
    }
    .size{
        margin-top: 3px;
        margin-bottom: 6px;
    }
    .size label{
        width: 51px;
        font-size: 13px;
    }
    .add{
        margin-top: 8px;
        margin-bottom: 8px;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .checkout{
        position: relative;
        align-items: center;
        text-align: center;
        float: none;
        width: 100%;
        font-size: 15px;
        margin-top: 25px;
    }
    .totalprice{
        font-size: 15px;
    }
    .form-group{
        font-size: 13px;
    }
    .form-control{
        font-size: 13px;
    }
    button{
        font-size: 12px;
    }
}

/* FOOTER */
.footer{
    background-color: #DADADA;
    text-align: center;
    align-items: center;
    /* display: inline-block; */
    display: inline-flex;
    /* flex-direction: row; */
    width: 100%;
    padding: 0 30px;
}
.footerL{
    text-align: left;
    width: 100%;
}
.footerM{
    text-align: center;
    width: 100%;
}
.footerR{
    text-align: right;
    width: 100%;
}
.footerLbott img, .footerMbott img{
    width: 30px;
}
.footerR img{
    width: 80px;
}

@media only screen and (max-width: 500px){
    .footerLbott img, .footerMbott img{
        width: 20px;
    }
    .footerLtop, .footerMtop{
        font-size: 15px;
    }
    .footerR img{
        width: 50px;
    }
}

@media only screen and (min-width: 300px) {
    .footerLbott img, .footerMbott img{
        width: 20px;
    }
    .footerLtop, .footerMtop{
        font-size: 12px;
    }
    .footerR img{
        width: 50px;
    }
}
